html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
    
body{
    background-image: url(../odin-landingpage/images/background.jpg);
    background-repeat: no-repeat;
    display: block;
}

div{
    display: block;
}

.header-bg{
    background-color: #000000;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.header-logo{
    width: 50%;
}

.header-logo img{
    height: 100px;
    width: auto;
}

.nav-links{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 100px;
    width: 50%;
}

.nav-links a{
    text-decoration: none;
    text-shadow: 2px 4px 4px rgba(48, 157, 201, 0.6);
    font-weight: bold;
    font-size: 20px;
    color: #E5E7EB;
}

#about{
    display: flex;
    margin: auto;
    width: 80%;
    height: 500px;
    justify-content: space-between;
    align-items: center;
}

.hero-main{
    width: 35%;
}

.hero-main h1{
    text-shadow: 2px 4px 4px rgba(48, 157, 201, 0.6);
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
}

.hero-main p{
    margin: 20px;
    margin-left: 0px;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-button{
    border: none;
    width: 70px;
    margin-top: 20px;
    padding: 8px;
    border-radius: 5px;
    background-color: #3882F6;
}

.hero-image{
    border-radius: 25px;
    width: 500px;
    height: auto;
}

#about img{
    filter: drop-shadow(-10px -10px 10px rgba(48, 157, 201, 0.6));
    max-width: 100%;
    height: auto;
}

#universe{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 550px;
    margin: auto;
}

#universe h1{
    font-size: 36px;
    font-weight: bolder;
    color: #d7d9db;
    align-self: center;
    margin-top: 70px;
    text-shadow: 2px 4px 4px rgba(48, 157, 201, 0.6);
}

.miniature-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 70px;
}

.miniature{
    width: 15%;
    height: 200px;
}

.miniature img{
    border: 5px solid rgba(48, 157, 201, 0.6);
    border-radius: 25px;
    margin-top: 60px;
    width:  200px;
    height: 200px;
    object-fit: cover;
}

.mini-text{
    color: #E5E7EB;
    text-align: center;
    margin-right: 20px;
}

#quote{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    width: 80%;
    height: 300px;
    margin: auto;
    background: #000000;
    opacity: .6;
    border-radius: 25px;
    flex-direction: column;
    margin-bottom: 120px;
}

blockquote{
    font-size: 36px;
    font-weight: bolder;
    font-style: italic;
    color: #E5E7EB;
    align-items: center;
    text-align: center;
}

figcaption{
    color: #E5E7EB;
    text-align: end;
    margin-right: 250px;
}

cite{
    color: #E5E7EB;
    text-align: end;
    margin-right: 115px;
}

#signup{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
}

.signup-container{
    display: flex;
    border-radius: 10px;
    background-color: rgba(48, 157, 201, 0.6);
    width: 40%;
    height: 150px
}

.signup-text{
    display: flex;
    flex-direction: column;
    margin: 50px;
    line-height: 1em;
}

strong{
    font-size: 28px;
    font-weight: bolder;
    color: #d7d9db;
    text-shadow: 2px 4px 4px rgba(48, 157, 201, 0.6);
}

.signup-text p{
    font-size: 14px;
    color: #d7d9db;
    text-shadow: 2px 4px 4px rgba(48, 157, 201, 0.6);
}

.signup-div{
    display: flex;
    margin-left: 180px;
    align-items: center;
}

.signup-div button{
    background-color: #000000;
    border: 1px solid rgba(48, 157, 201, 0.6);;
    border-radius: 7px;
    color: #d7d9db;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 25px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #000000;
    height: 100px;
}

footer p{
    font-size: 18px;
    color: #d7d9db;
    font-weight: lighter;
}